.bg-cover {
    background-image: url('https://saurahagourmet.netlify.app/images/home.jpg');
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
}